@font-face {
  font-family: 'Armata';
  font-style: normal;
  font-weight: 400;
  src: url(../font/Armata.eot?27886716);
  src: local('Armata'), local('Armata-Regular'), 
  	url(../font/Armata.eot?27886716#iefix) format('embedded-opentype'), 
  	url(../font/Armata.woff?27886716) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../font/OpenSans.eot?27886716);
  src: local('Open Sans'), local('OpenSans'), 
  	url(../font/OpenSans.eot?27886716#iefix) format('embedded-opentype'), 
  	url(../font/OpenSans.woff?27886716) format('woff');
}