<div class="block-space">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        项目
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='packets in packetsGroup'>
                    <td class="text-center">{{$index}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="delItem('packetGroup',$index)">
                            删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
