<div class="block-space">
    <div>
        <button class="btn btn-primary btn-item" ng-click="openAddPacketModal('singlePacket')">
            添加</button>
    </div>
    <div style="clear:both"></div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        项目
                    </th>
                    <th>
                        数额
                    </th>
                    <th>
                        数量
                    </th>
                    <th>
                        最大折扣金额
                    </th>
                    <th>总计</th>
                    <th>
                        操作
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat='singlePacket in singlePackets'>
                    {{singlePacket}}
                    <td class="text-center">{{singlePacket.item==='0'?'面值' :'折扣'}}</td>
                    <td>{{singlePacket.value}}</td>
                    <td>{{singlePacket.amount}}</td>
                    <td>{{singlePacket.discount? singlePacket.discount:'N/A' }}</td>
                    <td>{{singlePacket.total}}</td>
                    <td>
                        <button class="btn btn-primary" ng-click="delItem('singlePacket',$index)">
                            删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
