<form class="form-inline">
    <select class="form-control">
        <option> 面值
        </option>
        <option> 折扣
        </option>
    </select>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <input type="text" class="form-control" placeholder="面值" /> X
    <input type="text" class="form-control" placeholder="数量" /> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
    <input type="text" class="form-control" placeholder="最大折扣金额" /> &nbsp; &nbsp; &nbsp; &nbsp;
    <button class="btn btn-default"> 添加红包
    </button>
</form>
